<form [formGroup]="itemForm">

    <div class="form-group">
        <label for="inputTitle" [ngClass]="{'required': checkField(itemForm.get('title')) }">Ad Soyad *</label>
        <input type="text" class="form-control" id="inputTitle" placeholder="Title" formControlName="title" [ngClass]="{'required': checkField(itemForm.get('title')) }">
    </div>

    <div class="form-group">
        <label for="inputDescription">Notlar</label>
        <input type="text" class="form-control" id="inputDescription" placeholder="Description" formControlName="description">
    </div>

    <!-- Doğum Tarihi -->
    <div class="form-group">
        <label for="inputBirthDate">Doğum Tarihi *</label>
        <input type="date" class="form-control" id="inputBirthDate" formControlName="birthDate">
    </div>

    <!-- Saati -->
    <div class="form-group">
        <label for="inputTime">Saati</label>
        <input type="time" class="form-control" id="inputTime" formControlName="time">
    </div>

    <!-- Meslek -->
    <div class="form-group">
        <label for="inputOccupation">Meslek</label>
        <input type="text" class="form-control" id="inputOccupation" placeholder="Meslek" formControlName="occupation">
    </div>

    <!-- Medeni Durum -->
    <div class="form-group">
        <label for="inputMaritalStatus">Medeni Durum</label>
        <select class="form-control" id="inputMaritalStatus" formControlName="maritalStatus">
            <option value="">Please Select</option>
            <option value="single">Bekar</option>
            <option value="married">Evli</option>
            <option value="divorced">Boşanmış</option>
            <option value="widowed">Dul</option>
        </select>
    </div>

    <p class="alert alert-warning" role="alert" *ngIf="isProcessing">
        Please wait..
    </p>

    

    <button *ngIf="!isProcessing" type="button" class="btn btn-primary btn-block submitbutton" (click)="onSubmit($event)" [disabled]="!itemForm.valid && !isProcessing">{{getButtonText()}}</button>
</form>

